/* Body
--------------------------------------------------------*/
body{
	font: 75%/1.5 "Orbitron", "Futura LT", "Agency FB", SansSerif;
}

#wrapper{
	background-color: #ccc;
	margin: 0 auto;
	width: 100%;
	min-width: 900px;
}


/* Header
--------------------------------------------------------  */
header{
	background-color: #322c28;
	height: 40px;
}

header h1{
	font-size: 2em;
	float: left;
	margin: 5px 0 0 5px;
}

/* Nav
--------------------------------------------------------*/
nav {
	list-style-type: none;
	float: right;
/*	font-variant: small-caps;*/
	font-weight: bold;
	text-decoration: none;
	margin-top: -14.5px;
	font-size: 1.2em;
}

nav ul {
	text-align:center;
}

/* Main Menu Button */
nav ul li {
	float:left;
	display:inline;
	height: 40px;
	width: 110px;
}

/* Main Menu Hover */
nav ul li:hover {
	background:#C45A12;
}

/* Sub Menu Text */
nav ul li a {
	display:block;
    padding-top: 10px;
	color:#FFF;
	text-decoration:none;
}

/* Sub Menu Background */
nav ul li ul {
	position:absolute;
	width: 90px;
	background:#322c28;
    transform: translateX(-20px) translateY(8.5px);
}

nav ul li ul li {
	margin-left: -40px;
	font-size: .8em;
	width:90px;
}

nav ul li ul li a {
	display:inline-block;
	padding:15px 10px;
    padding-bottom: 20px;
	color:#FFF;
	text-align: left;
    width: 120px;
}

nav ul li ul li:hover a { /* Sub Menu Hover Color */
	background:#C45A12;
	width: 111px;
	height: 10px;
}

nav ul li ul.fallback {
	display:none;
}

nav ul li:hover ul.fallback {
	display:block;
}

#active{
	background-color: #265568;
	color:white;
}


/* Content
--------------------------------------------------------*/
.clearfix{
	left: 2%;

}

.clearfix ul{
	list-style-type: none;
}

.clearfix ul li h1{
	font-size: 2.5em;
}

.clearfix ul li p{
		font-family: "Futura LT", SansSerif;
		font-size: 62.5%/1;
        margin-left: 20px;
		margin-right: 20px;
}

.crew{
	display: block;
}

.crew h2{
	font-size: 2em;
	clear: both;
}

.crew h3{
	font-size: 1.4em;
	padding-left: 0px;
}

.crew p{
	position: relative;
	display: block;
	padding-right: 50px;
    padding-left: 266px;

}

.crew img{
	float: left;
	display: inline-block;
	text-align: left;
	margin: 7px 20px 3px 20px;
	clear: both;
	border: solid;
	border-style: double;
}


/* Footer
--------------------------------------------------------*/
footer{
	background-color: #322c28;
	clear: both;
}

footer p{
	display: inline-block;
	color: white;
	font-size: 1.2em;
	text-align: left;
	clear: both;
	margin-left: 20px;
}

.gallery li{
	display: inline-block;
	float: right;
	margin: 12px 10px 0px 0px;
}

/* Text and Links
--------------------------------------------------------*/
p{
	color: #444;
	font-size: 1.3em;
}

h2{
	font-size: 1.6em;
	margin: 0 0 0px 20px;
	display: block;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix {
	zoom: 1;
}
